<!DOCTYPE html>
<html>
  <head>
    <link
      href="https://fonts.googleapis.com/css?family=Inter&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"
      type="text/javascript"
      async
    ></script>

    <link
      rel="stylesheet"
      href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css"
    />

    <script
      src="https://kit.fontawesome.com/1bcd2404f3.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body data-theme="dark">
    <%- include('../partials/header'); -%> 
    <%if(error && error.length > 0){ %>
    <% console.log(error[0]) %> <% } %> <%if(success && success.length > 0){ %>
    <% console.log(success[0])%> <% } %>
    
    

    <form class = "container"action="/admin/upload-csv" method="POST"  enctype="multipart/form-data">
      <h4 class="heading">To create student accounts, Upload a CSV File with username in 1st Column and password in 2nd column and Name of student in third column.</h4>
      <div class="grid">
      <input type="file" name="file" placeholder="CSV - File" accept=".csv" required>
      <input type="submit" value='Upload'>
      </div>
      <!-- <button class="formbutton"> Submit</button> -->
    </form>

    <div class=" container">
    <div class="grid">
      <div></div>
      
      <button  onclick="forgotModal()">Change User Password</button>
      
    </div>  
    </div>
      

    <div class="projectlist container">
      <h1>Project List</h1>

      <% if(projects.length === 0){%>
        <article aria-busy="true"></article>
      <% }else{ %>
      <div class="grid">
        <div>
          <h4>Pending Projects</h4>
        <% projects.forEach(function(project){%>
      
          <%console.log(project.author[0].id)%>
         <% if(!project.reviewStatus){ %>
                <article class="project">
                    <header class="projectName">
                      <strong><%= project.title %></strong>
                    </header>
                    <div class="description">
                      Abstract: <%= project.abstract ? `${project.abstract.slice(0,30)}...`:
                      'No abstract available!' %>
                    </div>
                    <div>
                      <strong>Authors: </strong><% for(var i =0; i< project.author[0].user.length;i++){ %>
                       <li><%=project.author[0].user[i]%></li> 
                    <% } %> 
                    </div>
                    <div class="supervisor">Supervisor: <%=project.supervisor%></div>
                    <div class="status">
                      <% if(project.reviewStatus){%>
                      <h4>Approved</h4>
                      <% }else{ %>
                      <h4>Pending</h4>
                      <%}%>
                    </div>
                    <br />
                    <div class="grid">
                      <!-- Extra grids for spacing -->
                    
                      <div></div>
                      <form action="/admin/<%=project._id%>?_method=PUT" method="post">
                        <Button type="submit">Verify</Button>
                      </form>
                      <div></div>
                      
                    </div>
                  </article>
                <% } %>
            
          <% }) %>
        </div>
        <div>
          <h4>Approved Projects</h4>
        <% projects.forEach(function(project){%>
       
          <% if(project.reviewStatus){ %>
                    <article class="project">
                        <header class="projectName">
                          <strong><%= project.title %></strong>
                        </header>
                        <div class="description">
                          Abstract: <%= project.abstract ? `${project.abstract.slice(0,30)}...`:
                          'No abstract available!' %>
                        </div>
                        <div>
                          <strong>Authors: </strong><% for(var i =0; i< project.author[0].user.length;i++){ %>
                           <li><%=project.author[0].user[i]%></li> 
                        <% } %> 
                        </div>
                        <div class="supervisor">Supervisor: <%=project.supervisor%></div>
                        <div class="status">
                          <% if(project.reviewStatus){%>
                          <h4>Approved</h4>
                          <% }else{ %>
                          <h4>Pending</h4>
                          <%}%>
                        </div>
                        <br />
                        <!-- <div class="grid">
                          <!-- Extra grids for spacing -->
                      
                          <!-- <div></div>
                          <!-- <a href="/projects/<%= project._id%>" role="button">Verify</a> -->
                          <!-- <div></div>
  
                        </div> --> 
                      </article>
                      <% } %>
                      <% }) %>
                    </div>


    </div>
    <% } %>


    <!-- Change Password  Modal -->
<dialog id="about-fmodal">
  <article>
    <header>
      <a
        href="/admin"
        aria-label="Close"
        class="close"
        onclick="closeFModal()"
      ></a>
     Change User Password
    </header>
    
    <form action="/forgotpassword?_method=PUT" method="post">
      <div class="formcontainer">
        <input
          type="text"
          name="username"
          placeholder="Login ID"
        />
        <input
          type="password"
          name="password"
          placeholder="New Password"
        />
        <Button
          type="submit"
          value="forgotpassword"
          action="/forgotpassword?_method=PUT"
          method="post"
          >Change Password</Button>
      </div>
      <hr />
    </form>
  </article>
</dialog>

    
  </body>
</html>
<br /><br />

<script>
  let fmodal = document.querySelector("#about-fmodal")
  let isFModalOpen = false;
  
  document.addEventListener("keydown", (e) => {
    console.log(e.key, isFModalOpen);
    if (e.key == "Escape" && isFModalOpen) closeFModal();
  });

  function closeFModel() {
    isFModalOpen = false;
    document.querySelector("html").classList.remove("modal-is-open");
    document.querySelector("html").classList.add("modal-is-closing");
    
  }
  function forgotModal() {
    console.log(`opening forgot password`);
    //closeAboutModal();
    document.querySelector("html").classList.add("modal-is-open");
    fmodal.setAttribute("open", "true");
  }
</script>

<style>
  .projectName {
    font-size: 1.4rem;
  }
</style>